
div.vita-body {
  margin:auto;
  text-align: center;
}
table {
  margin:auto;
  border-collapse: separate;
  border-spacing: 0 10px;
}
table th {
  padding:0 0.5rem;
  text-align:left
}
table td {
  padding:0.2rem 0.5rem;
  text-align:left;
}